<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'change-password.label' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-card-content>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

          <mat-form-field appearance="standard">
            <mat-label>{{ 'change-password.current' | translate }}</mat-label>
            <mat-icon matPrefix>vpn_key</mat-icon>
            <input matInput formControlName="currentPassword" type="password" required>
          </mat-form-field>
          <app-control-message [control]="changePasswordForm.controls.currentPassword"></app-control-message>

          <mat-form-field appearance="standard">
            <mat-label>{{ 'change-password.new' | translate }}</mat-label>
            <mat-icon matPrefix>vpn_key</mat-icon>
            <input matInput formControlName="newPassword" type="password" required>
          </mat-form-field>
          <app-control-message [control]="changePasswordForm.controls.newPassword"></app-control-message>

          <mat-form-field appearance="standard">
            <mat-label>{{ 'change-password.repeat' | translate }}</mat-label>
            <mat-icon matPrefix>vpn_key</mat-icon>
            <input matInput formControlName="repeatPassword" type="password" required>
          </mat-form-field>
          <app-control-message [control]="changePasswordForm.controls.repeatPassword"></app-control-message>

          <app-loading-button class="button-block" [loading]="loading" type="submit" [form]="changePasswordForm" color="primary">{{ 'change-password.label' | translate }}</app-loading-button>

        </form>
      </mat-card-content>
    </div>
  </div>
</mat-card>