<div class="row">
  <div class="col-md-11 m-t-0">
    <mat-form-field class="m-t-0">
      <input #searchRef matInput [(ngModel)]="currentSearch" placeholder="{{ 'system.search.base' | translate }}">
    </mat-form-field>
  </div>

  <div class="col-md-1 m-t-10">
    <button mat-mini-fab color="primary" [matMenuTriggerFor]="dropdownToggle">
            <mat-icon>list</mat-icon>
        </button>
    <mat-menu #dropdownToggle="matMenu">

      <div (click)="stopPropagation($event)" (keydown.tab)="stopPropagation($event)" class="m-20">

        <label>{{'system.search.advanced' | translate}}</label>
        <br>
        <br>
        <mat-divider></mat-divider>
        <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">

          <mat-form-field *ngFor="let property of properties">
            <input matInput [placeholder]="property.label" [formControlName]="property.name">
          </mat-form-field>

          <div class="row m-t-10">
            <button mat-raised-button class="width-50" type="button" (click)="onClear()">
                            <mat-icon>clear</mat-icon>{{ 'system.clear' | translate }}
                        </button>
            <button mat-raised-button class="width-50" color="primary" type="submit">
                            <mat-icon>search</mat-icon>{{ 'system.search.base' | translate }}
                        </button>
          </div>
        </form>
      </div>
    </mat-menu>
  </div>
</div>